@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-bg-color: #fff;
  --theme-text-color: #000;
  --theme-border-color: #eee;
  --theme-switch-button-active: #e6e6e6;
}

:root.dark {
  --theme-bg-color: #18181b;
  --theme-text-color: #fff;
  --theme-border-color: #222;
  --theme-switch-button-active: #262626;
}

::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
}

.dark::view-transition-old(root) {
  z-index: 9999;
}

body {
  color: var(--theme-text-color);
  background-color: var(--theme-bg-color);
}

.tranparent-nav-bar {
  background-color: transparent;
  background-image: radial-gradient(
    transparent 1px,
    var(--theme-bg-color, #ffffff) 1px
  );
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  mask: linear-gradient(rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
  opacity: 1;
}
