@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-bg-color: #fff;
  --theme-text-color: #000;
  --theme-border-color: #eee;
  --theme-switch-button-active: #E6E6E6;
}

:root.dark {
  --theme-bg-color: #18181B;
  --theme-text-color: #fff;
  --theme-border-color: #222;
  --theme-switch-button-active: #262626;
}

::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
}

.dark::view-transition-old(root) {
  z-index: 9999;
}

body {
  color: var(--theme-text-color);
  background-color: var(--theme-bg-color);
}
